<div class="container-fluid pt-4 ps-5 pe-5">
    <div class="row subnav pt-5">
      <div class="col ms-5 mb-5"><h2>Ingresa tus trabajos y comparte tu experiencia</h2></div>
      <div class="col d-flex justify-content-end">
        <div class="me-4 mt-0"><button type="button" class="btn-lg"><b>Añadir proyecto</b></button></div>
        <div class="dropdown mt-0">
          <button class="btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown">
            <b>Seleccionar categoria</b>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item">Interiores</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item">Exteriores</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item">Arte</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col imagen">
          <img src="assets/Icono/addImg.svg" height="10"/>
        </div>
        <div class="col imagen">
          <img src="assets/Icono/addImg.svg" height="10"/>
        </div>
        <div class="col imagen">
          <img src="assets/Icono/addImg.svg" height="10"/>
        </div>
    </div>
    <div class="row">
      <div class="col imagen">
        <img src="assets/Icono/addImg.svg" height="10"/>
      </div>
      <div class="col imagen">
        <img src="assets/Icono/addImg.svg" height="10"/>
      </div>
      <div class="col imagen">
        <img src="assets/Icono/addImg.svg" height="10"/>
      </div>
  </div>
  <div class="row">
    <div class="col imagen">
      <img src="assets/Icono/addImg.svg" height="10"/>
    </div>
    <div class="col imagen">
      <img src="assets/Icono/addImg.svg" height="10"/>
    </div>
    <div class="col imagen">
      <img src="assets/Icono/addImg.svg" height="10"/>
    </div>
  </div>
</div>