.container-fluid {
    background-image: url("../../assets/Icono/Rectangle 1.svg");
    background-repeat: no-repeat;
    background-position-y:  -38vh;
    font-family: 'Raleway', sans-serif;
}

.row.body {
    height: 94vh;
    color: black;
}

button {
    height: 70px;
    width: 180px;
    background-color: #FF6542;
    border-radius: 50px;
}

a.nav-link{
    color: black;
    font-size: auto;
}

p {
    font-size: 18px;
}

.grupo1 {
    margin-top: 90px;
}