.container-fluid {
    background-image: url("../../assets/Icono/Rectangle 1.svg"), url("../../assets/Icono/Rectangle_verde.svg"), 
    url("../../assets/img/environmental-conservation-in-the-garden-for-children.jpg");
    background-repeat: no-repeat;
    background-position-y:  -38vh, bottom, bottom;
    background-size: auto,100%,100%;
    /*<select id="select">     <option>normal</option>    
     <option>multiply</option>     <option selected>screen</option>  
        <option>overlay</option>     <option>darken</option>    
         <option>lighten</option>     <option>color-dodge</option>   
           <option>color-burn</option>     <option>hard-light</option>  
              <option>soft-light</option>     <option>difference</option>   
                <option>exclusion</option>     <option>hue</option>     <option>saturation</option>    
                 <option>color</option>     <option>luminosity</option> </select>*/
    min-height: 94vh;

    color: white;

    padding-top: 1vh;
    font-family: 'Raleway', sans-serif;
    background-blend-mode: normal, lighten, darken;
}

.row {
    padding-top: 5vh;
    padding-left: 6vh;
}

#noHuella {
    background-color: #136F63;
    border-radius: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#huella {
    background-color: #FF6542;
    border-radius: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lol {
    height: 50px;
    width: 50px;
    background-color: #FF6542;
    color: #000000;
    border-radius: 5px;
    border-color: #FF6542;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flecha {
    height: 30px;
}

.card {
    color: black;
    text-align: justify;
    border-color: #ff6542;
    margin-right: 120px;
}

.t {
    margin-left: 50px;
}

h2 {
    color: #ff6542;
    font-weight:bold;
}

.main {
    margin-top: 90px;
}

button {
    height: 60px;
    width: 146px;
    background-color: #FF6542;
}
/*<select id="select">     <option>normal</option>    
     <option>multiply</option>     <option selected>screen</option>  
        <option>overlay</option>     <option>darken</option>    
         <option>lighten</option>     <option>color-dodge</option>   
           <option>color-burn</option>     <option>hard-light</option>  
              <option>soft-light</option>     <option>difference</option>   
                <option>exclusion</option>     <option>hue</option>     <option>saturation</option>    
                 <option>color</option>     <option>luminosity</option> </select>*/
/*
                 @media screen and (max-width: 820px) {
                    .container-fluid {
                        background-image: url("../../assets/Icono/Rectangle 1.svg"),url("../../assets/Icono/Rectangle_verde.svg"),
                        url("../../assets/img/environmental-conservation-in-the-garden-for-children.jpg");
                        background-repeat: no-repeat;
                        background-position-y:  -35vh, bottom, bottom;
                        background-size: auto, 100%, 200%;
                        font-family: 'Raleway', sans-serif;
                        min-height:  50vh;
                        background-blend-mode: normal, lighten, darken;
                        width: 104%;
                    }
                
                    .t {
                        text-align: center;
                        margin-right: 10%;
                    }
                
                    h2 {
                        color: #FF6542;
                    }
                
                    .text-center {
                        margin-left: 2%;
                    }
                
                    .btn {
                        margin-left: 3% !important;
                        width: 100%;
                        margin-right: 100%;
                    }
                
                    button {
                        margin-left: 0;
                    }
                }*/
@media screen and (max-width: 720px) {
    .container-fluid {
        background-image: url("../../assets/Icono/Rectangle 1.svg"),url("../../assets/Icono/Rectangle_verde.svg"),
        url("../../assets/img/environmental-conservation-in-the-garden-for-children.jpg");
        background-repeat: no-repeat;
        background-position-y:  -35vh, bottom, bottom;
        background-size: auto, 100%, 300%;
        font-family: 'Raleway', sans-serif;
        background-blend-mode: normal, lighten, darken;
    }

    .t {
        text-align: center;
        margin: 0 !important;
        margin-top: 10% !important;
    }

    h2 {
        color: #FF6542;
    }

    .text-center {
        margin: 0 !important;
        padding: 0 !important;
    }

    #noHuella {
        margin: 0 !important;
        padding: 0 !important;
        padding: 3px 3px 3px 3px !important;
    }

    .btn {
        margin-left: 3% !important;
        width: 100%;
        margin-right: 100%;
    }

    button {
        margin-left: 0;
    }

    .card {
        object-fit: cover;
        margin: 0 !important;
        padding: 0 !important;
        padding: 15px 15px 15px 15px !important;
        margin-bottom: 5% !important;
    }

    .collapse {
        margin: 0 !important;
        padding: 0 !important;
    }

    .row {
        margin: 0 !important;
        padding: 0 !important;
        margin-top: 20% !important;
    }

    .boton {
        margin: 0 !important;
        padding: 0 !important;
        margin-bottom: 1% !important;
    }

    .carousel-item {
        margin-top: 20%;
    }

    .carousel-control-prev {
        margin: 0 !important;
        padding: 0 !important;
    }

    .carousel-control-next {
        margin: 0 !important;
        padding: 0 !important;
    }

}


