<div class="container-fluid">
  <div class="t mt-5">
    <h2>Entraste a cambiar<br>
       tu huella en el mundo</h2>
  </div>
  <div class="row main">
      <div class="col-10 mb-5 text-center">
          <div id="noHuella">¿En que consiste la huella de carbono y que consecuencia trae?</div>
      </div>
      <div class="col ms-5 mb-5">
          <button type="button" class="btn-lg" id="lol" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
              <img class="flecha" src="assets/Icono/Polygon 3.svg"/>
          </button>
      </div>
      <div class="collapse" id="collapseExample1">
        <div class="card card-body">
          La huella de carbono nace como una medida de cuantificar y generar un indicador del impacto que una actividad o proceso tiene sobre el cambio climático, más allá de los grandes emisores.
                La huella de carbono se define como el conjunto de emisiones de gases de efecto invernadero producidas, directa o indirectamente, por personas, organizaciones, productos, eventos o regiones geográficas, en términos de CO2 equivalentes, y sirve como una útil herramienta de gestión para conocer las conductas o acciones que están contribuyendo a aumentar nuestras emisiones, cómo podemos mejorarlas y realizar un uso más eficiente de los recursos.
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-10 mb-5 text-center">
          <div id="noHuella">¿Que podemos hacer  para reducir nuestra huella de carbono?</div>
      </div>
      <div class="col ms-5 mb-5">
          <button type="button" class="btn-lg" id="lol" 
           data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" 
          aria-controls="collapseExample2">
              <img class="flecha" src="assets/Icono/Polygon 3.svg"/>
          </button>
      </div>
      <div class="collapse multi-collapse" id="collapseExample2">
        <div class="card card-body">
                <b>¿Cómo podemos reducir nuestra huella de carbono?</b><br/>
                Conocer nuestra huella de carbono puede ayudar a limitar el impacto de nuestro consumo en el medio ambiente. 
                Hay diversas soluciones online que nos ayudan a calcular nuestra huella de carbono.<br/>

                <p>Los pequeños cambios pueden suponer una gran diferencia a largo plazo, 
                por ejemplo en lo relacionado con el transporte, los alimentos, las prendas de vestir, los residuos, etc. 
                Aquí te ofrecemos algunos consejos:</p>

                <b>Alimentos:</b><br/>
                <ul>
                    <li>Consumir productos locales y de temporada (olvídate de las fresas en invierno)</li> 
                    <li>Limitar el consumo de carne, especialmente de carne de vacuno</li> 
                    <li>Consumir pescado obtenido mediante pesca sostenible</li> 
                    <li>Utilizar bolsas de compra reutilizables y evitar los productos con un embalaje de plástico excesivo</li> 
                    <li>Asegurarse de comprar solo lo que se necesita, para evitar el desperdicio de alimentos</li>
                </ul>

                <b>Prendas de vestir:</b><br/>
                <ul>
                    <li>Cuidar bien la ropa,</li>
                    <li>Tratar de intercambiarla, tomarla en préstamo, alquilarla o comprarla de segunda mano</li>
                    <li> Comprar ropa fabricada de forma responsable, por ejemplo fabricada con material reciclado o con etiqueta ecológica</li>
                </ul>
                <b>Transporte:</b><br/>
                <ul>
                    <li>Utilizar la bicicleta o el transporte público</li>
                    <li>Ser inteligente en cuanto a cuándo y cómo conducir</li> 
                    <li>Tratar de usar el tren en tus próximas vacaciones</li>
                </ul>

                <b>Energía y residuos:</b><br/>
                <ul>
                    <li>Bajar la calefacción 1 ºC (con esto ya se nota la diferencia)</li> 
                    <li>Acortar el tiempo que se pasa bajo la ducha</li> 
                    <li>Cerrar el grifo mientras te lavas los dientes o lavas los platos</li> 
                    <li>Desenchufar los aparatos electrónicos y no dejar el teléfono enchufado cuando la batería ya esté cargada</li> 
                    <li>No almacenar datos innecesarios en la nube (más información sobre tu huella digital)</li> 
                    <li>Optar por productos eficientes desde el punto de vista energético que lleven la etiqueta «A» (etiqueta energética de la UE)
                        Limitar y reciclar tus residuos</li> 
                </ul>
        </div>
      </div>
  </div>
  <div class="row">    
      <div class="col-10 mb-5 text-center">
          <div id="huella">Mide tu huella de carbono aqui</div>
      </div>
      <div class="col ms-5 mb-5">
          <button type="button" class="btn-lg" id="lol" 
          data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" 
          aria-controls="collapseExample3">
              <img class="flecha" src="assets/Icono/Polygon 3.svg"/>
          </button>
      </div>
      <div class="collapse multi-collapse mb-5" id="collapseExample3">
        <div class="card card-body">
          <b>¿Qué necesito para comenzar?</b><br>
          Te vamos a hacer preguntas sencillas sobre tus actividades, estilo de vida y uso de recursos.
          Para responder con mayor agilidad ten a mano tus facturas de gas y electricidad, vas a necesitar algunos datos que aparecen allí.
          <br>
          <br>
          <b>¿Cuánto tiempo necesito para calcular mi huella?</b><br>
          Entre 10 y      15 minutos. Pero si necesitás más tiempo, no te preocupes, podés retomar en otro momento.
          Si usas el mismo    dispositivo (celular, tablet o computadora) y la misma conexión a internet, tus respuestas quedan guardadas para cuando vuelvas a ingresar.
          <br>
          <br>
          <b>¿Qué período estoy midiendo?</b><br>
          Ten en cuenta que estás midiendo / compensando tu huella del último año, es decir los últimos 12 meses.
          Ejemplo: Si estás midiendo tu huella en febrero de 2021, calculá los últimos 12 meses desde febrero de 2020.<br>
                
          <br><b class="text-center">Preguntas</b><br>
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <p class="text-center">¿cuanto plastico consume al mes?</p>
                <div class="text-center">
                  <button type="button" class="btn me-5">no consumo</button>
                  <button type="button" class="btn me-5">50 unidades aproximadamente</button>
                  <button type="button" class="btn me-5">100 unidades aproximadamente</button>
                  <button type="button" class="btn">200 unidades o mas</button>
                </div>
              </div>
              <div class="carousel-item">
                <p class="text-center">¿cuanto carton o papel consume al mes?</p>
                <div class="text-center">
                  <button type="button" class="btn me-5">no consumo</button>
                  <button type="button" class="btn me-5">50 unidades aproximadamente</button>
                  <button type="button" class="btn me-5">100 unidades aproximadamente</button>
                  <button type="button" class="btn">200 unidades o mas</button>
                </div>
              </div>
              <div class="carousel-item">
                <p class="text-center">¿cuanto metal consume al mes?</p>
                <div class="text-center">
                  <button type="button" class="btn me-5">no consumo</button>
                  <button type="button" class="btn me-5">50 unidades aproximadamente</button>
                  <button type="button" class="btn me-5">100 unidades aproximadamente</button>
                  <button type="button" class="btn">200 unidades o mas</button>
                </div>
              </div>
              <div class="carousel-item">
                <p class="text-center">¿cuanto plastico recicla al mes?</p>
                <div class="text-center">
                  <button type="button" class="btn me-5">no reciclo</button>
                  <button type="button" class="btn me-5">25%</button>
                  <button type="button" class="btn me-5">50%</button>
                  <button type="button" class="btn me-5">75%</button>
                  <button type="button" class="btn">100%</button>
                </div>
              </div>
              <div class="carousel-item">
                <p class="text-center">¿cuanto carton o papel recicla al mes?</p>
                <div class="text-center">
                  <button type="button" class="btn me-5">no reciclo</button>
                  <button type="button" class="btn me-5">25%</button>
                  <button type="button" class="btn me-5">50%</button>
                  <button type="button" class="btn me-5">75%</button>
                  <button type="button" class="btn">100%</button>
                </div>
              </div>
              <div class="carousel-item">
                <p class="text-center">¿cuanto metal recicla al mes?</p>
                <div class="text-center">
                  <button type="button" class="btn me-5">no reciclo</button>
                  <button type="button" class="btn me-5">25%</button>
                  <button type="button" class="btn me-5">50%</button>
                  <button type="button" class="btn me-5">75%</button>
                  <button type="button" class="btn">100%</button>
                </div>
              </div>
            <div class="carousel-item">
              <p class="text-center">¿cuantas veces usa el transporte publico al mes?</p>
              <div class="text-center">
                <button type="button" class="btn me-5">45 o menos</button>
                <button type="button" class="btn me-5">45-60</button>
                <button type="button" class="btn me-5">60-75</button>
                <button type="button" class="btn">75 o mas</button>
              </div>
            </div>
            <div class="carousel-item">
              <p class="text-center">¿cuantas veces usa un vehiculo particular al mes?</p>
              <div class="text-center">
                <button type="button" class="btn me-5">no tengo vehiculo particular</button>
                <button type="button" class="btn me-5">1-20</button>
                <button type="button" class="btn me-5">20-40</button>
                <button type="button" class="btn">40 o mas</button>
              </div>
            </div>
            <div class="carousel-item">
              <p class="text-center">¿con que frecuencia compra ropa nueva?</p>
              <div class="text-center">
                <button type="button" class="btn me-5">no compro con frecuencia</button>
                <button type="button" class="btn me-5">1-5 veces al mes</button>
                <button type="button" class="btn me-5">5-10 veces al mes</button>
                <button type="button" class="btn">10 o mas veces al mes</button>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>