.container-fluid {
    background-image: url("../../assets/Icono/Rectangle 1.svg");
    background-repeat: no-repeat;
    background-position-y:  -12vh;

    padding-top: 10vh;
    font-family: 'Raleway', sans-serif;
}

.row {
    background-color: #FF6542;
    width: 600px;
    margin-left: 1px;
    margin-bottom: 0px;
    text-align: center;
    vertical-align: center;
}

.imagen {
    background-color: #63ff6b;
    width: auto;
    float: right;
    margin-right: 200px;
}
.imagen_2 {
    background-color: #63ff6b;
    width: auto;
    float: right;
    margin-top: 100px;
}

.imagen_3 {
    background-color: #63ff6b;
    width: auto;
    float: right;
    margin-top: -200px;
    margin-right: 50px;
}


.tabla {
    background-color: #63ff6b;
    border-radius: 1px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-weight: bold;
    border-style: groove;
    border-color: #63ff6b;
}

.titulo{
    border-radius: 20px;
    width: auto;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 50px;
}

h2 {
    color: #FF6542;
    font-weight:bold;
}

.texto {
    color:#FF6542;
    margin-top: 30px;
    margin-left: 1px;
}

.nombre {
    text-align: center;
    vertical-align: middle;
}
