<!-- Footer -->
<footer class="text-center ps-5">

  <!-- Section: Links  -->
  <section class="pt-2">
    <div class="container text-center text-md-start mt-5 me-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i><a href="" class="logo">
              <img src="assets/Icono/logo2.svg" height="50"/>
            </a>
          </h6>
          <p>
            Aqui puedes encontrar columnas de utilidad para informacion mas detallada. Recuerda
            reciclar y cuidar nuestro espacio.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 ms-5">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Links utiles
          </h6>
          <p>
            <a href="https://es-la.facebook.com/pg/Educ.InicialYPreescolar/posts/" class="text-reset">Facebook</a>
          </p>
          <p>
            <a href="https://www.gmail.com/mail/help/intl/es/about.html?msclkid=95ded8f8cf0e11ec819e907fd3e2cc7d" class="text-reset">Gmail</a>
          </p>
          <p>
            <a href="https://www.instagram.com/todos_somos_reciclaje/?hl=es" class="text-reset">Instagram</a>
          </p>
          <p>
            <a href="https://www.youtube.com/c/SusyReciclajeCreativo" class="text-reset">youtube</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 ms-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contacto
          </h6>
          <p><i class="fas fa-home me-3"></i> Valparaiso, Brasil 2241, Chile</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            P++@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +569 73734539</p>
          <p><i class="fas fa-print me-3"></i> +569 53906655</p>
          <p><i class="fas fa-print me-3"></i> +569 67366478</p>
        </div>
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3">
          <a class="logo" (click)="topFunction()">
            <img src="assets/Icono/Up_arrow.svg" height="50"/>
          </a>
        </div>
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 -
    <a class="text-reset fw-bold" href="https://www.inf.ucv.cl/"> Pontificia Universidad Católica de Valparaíso </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->