<div class="container-fluid">
    <div class="texto pt-2 mt-5">
        <p class="ml-5 text-uppercase text-left"><b>Si tienes consultas escribenos a<br/>ppp1437@gmail.com 
            o completá <br/> el formulario a continuación.</b></p>
    </div> 
    <form>
        <div class="row">
            <div class="col">
                <div class="forma mb-5 text-uppercase">
                    <label for="exampleInputEmail1" class="form-label">Nombre Completo*</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="p. ej.: Jonathan Josue Ponce Parraguez">
                </div>
                <div class="forma mb-5 text-uppercase">
                    <label for="exampleInputEmail1" class="form-label">Correo Electronico*</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="p. ej.: jp.ponceanima@gmail.com">
                </div>
                <div class="forma mb-5 text-uppercase">
                    <label for="exampleInputEmail1" class="form-label">Numero de telefono</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="p. ej.: +569 73734539">
                </div>
            </div>
            <div class="col">
                <div class="forma text-uppercase">
                    <label for="foo" class="form-label">Comente*</label>
                    <textarea class="form-control" id="foo" name="comente" rows="11" cols="110" placeholder="Añadir asunto o resumen de lo que desea"></textarea>
                </div>
            </div>
            <div class="forma pt-5 text-center text-uppercase">
                <button type="button" class="btn"><b>ENVIAR</b></button>
            </div>
        </div>
    </form>
</div>